.sidebar-wrapper {
  background-image: url('bg-sidebar-desktop.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: fit-content;
  min-width: 247px;
  height: 60%;
  min-height: 568px;
  border-radius: 0.75rem 0 0 0.75rem;
  border-width: 20px;
  border-color: #ffffff;
  border-right-width: 0;
  border-style: solid;
}

.sidebar-step {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  align-items: flex-start;
  width: 100%;
  margin-left: 1.5rem;
  margin-top: 2.5rem;
  margin-right: auto;
}