.step-indicator--wrapper {
  display: flex;
  align-items: center;
}
.step-indicator--title {
  margin-left: 20px;
  .step-title {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
    color: #d6d9e6;
  }
  .step-subtitle {
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-size: 16px;
  }
}

.step-number {
  border: 1px solid #ffff;
  background-color: transparent;
  color: #ffffff;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  text-align: center;
  line-height: 40px;
}

.step-number.active {
  border: 1px solid #bfe2fd;
  background-color: #bfe2fd;
  color: #000000;
}
