@import "src/styles/base";

.summary-form--info {
  background-color: $bg-color-switch;
  padding: 24px 32px;
  border-radius: 8px;
  margin-top: 16px;
  .total-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 12px;
    h2 {
       color: $color-text-marine-blue;
      font-weight: 700;
    }
  }
  .title-plan {
    color: $color-text-marine-blue;
    font-weight: 700;
    font-size: 16px;
  }
  .change-plan {
    text-decoration: underline;
    color: $color-text-light-gray;
  }
}

.total-service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.form-total--price {
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    color: $color-text-light-gray;
  }
  h2 {
    color: $color-checkbox-hover;
    font-weight: 700;
    margin-top: 0;
  }
}
