@import "../../styles/variable";

.btn {
  border-radius: 8px;
  padding: 12px 24px;
  outline: 0;
  border: none;
  cursor: pointer;
  color: #fff;
}

.btn-primary {
  background-color: $color-button-primary;
}

.btn-prev {
  color: $color-text-light-gray;
}
