@import "src/styles/base";

.form-finished {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100%;
  margin: 0 auto;
  flex-direction: column;
  img {
    max-width: 100%;
    height: auto;
  }
  h1 {
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 30px;
    color: $color-text-marine-blue;
  }
  p {
    color: $color-light-gray;
    padding-bottom: 0;
    margin: 0;
  }
}
