.card-plan {
  padding: 16px;
  display: flex;
  flex-direction: column;
  border: 1px solid #473dff;
  border-radius: 0.5rem;
  align-items: start;
  flex: 1 1 auto;
  cursor: pointer;
  img {
    margin-bottom: 3rem;
    max-width: 50px;
    margin-right: 1.25rem;
  }
}

.card-plan.active {
  border: 1px solid #d6d9e6;
}