.form-wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 8rem;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.main-form {
  padding-bottom: 0;
  margin-top: 0;
  border-radius: 0 0.75rem 0.75rem 0;
  width: 100%;
  min-height: 608px;
  background-color: #fff;
}

.form-container {
  flex: 1 1 auto;
  flex-grow: 1;
}

.form-body {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  gap: 1.5rem;
}