/*Variables*/

//font family
$font-family-base: "Roboto";


//text colors
$color-text-marine-blue: #02295A;
$color-text-light-gray:  #D6D9E6;

//#9699ab #473dff #18488e

//button colors
$color-button-primary: #18488e;

//checkbox
$color-checkbox-primary: #2563eb;
$color-checkbox-hover: rgb(71 61 255 / 1);


//colors
$white: #fff;
$black: #000;