/*Variables*/

//font family
$font-family-base: "Roboto";


//text colors
$color-text-marine-blue: #02295A;
$color-text-subheader: #9699AB;

//#9699ab #473dff #18488e

//button colors
$color-button-primary: #18488e;

//checkbox
$color-checkbox-primary: #2563eb;
$color-checkbox-hover: #473dff;

//border
$color-border-primary: #f0f6ff;
$color-border-secondary: #6b7280;


$border-step-number: #BFE2FD;
$bg-color-switch: #f0f6ff;

//colors
$white: #fff;
$black: #000;
$color-light-gray: #d6d9e6;
$color-light-blue: #bfe2fd;
$color-error: #ed3548;