@import "../../styles/variable";

.step-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  align-items: flex-start;
  width: 100%;
  margin-top: 40px;
  margin-left: 24px;
  justify-content: space-evenly;
}

.step-form--header {
  margin-top: 24px;
  letter-spacing: 0.25rem;
}

.step-form {
  max-width: 36rem;
  height: 90%;
  margin: 0 auto;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;

  section {
    flex: 1 1 auto;
    flex-grow: 1;
  }
  h1 {
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: $color-text-marine-blue;
    margin: 0;
  }
  h2 {
    margin-top: 8px;
    color: #9699ab;
    font-size: 16px;
    font-weight: 300;
  }
}

.step-form--footer {
  padding: 0;
  margin-bottom: 0.5rem;
  position: relative;
  background-color: $white;
  width: 100%;
  left: 0;
  bottom: 0;
  display: flex;
  .button-prev {
    background-color: transparent;
    color: $color-light-gray;
  }
  .button-next {
    margin-left: auto;
  }
}
