@import "src/styles/base";

.form-plan {
  display: flex;
  margin-top: 16px;
  gap: 16px;
  .card-plan {
  border: 1px solid;
  img {
    margin-bottom: 3rem;
    max-width: 50px;
    margin-right: 1.25rem;
  }
}
.card-plan.no-active {
    border-color:  $color-light-gray;
}
  .card-plan.active {
    border-color: $color-checkbox-hover;
  }
}
