@import "../../styles/variable";
.form-input {
  outline: 2px solid transparent;
  outline-offset: 2px;
  padding: 8px 12px;
  border: 1px solid $color-light-gray;
  border-radius: 8px;
  width: 100%;
  margin-top: 8px;
}

.form-input.required {
  border: 1px solid #ed3548;
}

.input-label {
  display: flex;
  justify-content: space-between;
  label {
    font-size: 14px;
    line-height: 1.25rem;
  }
  .error-massage {
    color: $color-error;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.25rem;
  }
}
